.headerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 6px 9px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 6px 9px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 9px -6px rgba(0, 0, 0, 0.75);
}
.headerWrapper {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_ul li {
  display: inline-block;
  margin-right: 20px;
}
.nav_ul li a {
  text-decoration: none;
  color: inherit;
}
